<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Comerzzia</display-name>
  <servlet>
    <description>Servlet de Login</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.login.LoginServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Screen</description>
    <display-name>ScreenServlet</display-name>
    <servlet-name>ScreenServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.screen.ScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreenServlet</servlet-name>
    <url-pattern>*.screen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Usuarios</description>
    <display-name>UsuariosServlet</display-name>
    <servlet-name>UsuariosServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.usuarios.UsuariosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuariosServlet</servlet-name>
    <url-pattern>/usuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Mi Perfil</description>
    <display-name>UsuariosMiPerfilServlet</display-name>
    <servlet-name>UsuariosMiPerfilServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.usuarios.miperfil.UsuariosMiPerfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuariosMiPerfilServlet</servlet-name>
    <url-pattern>/miPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Paises</description>
    <display-name>PaisesServlet</display-name>
    <servlet-name>PaisesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.paises.PaisesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaisesServlet</servlet-name>
    <url-pattern>/paises</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Perfiles</description>
    <display-name>PerfilesServlet</display-name>
    <servlet-name>PerfilesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.perfiles.PerfilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilesServlet</servlet-name>
    <url-pattern>/perfiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Empresas</description>
    <display-name>EmpresasServlet</display-name>
    <servlet-name>EmpresasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.empresas.EmpresasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpresasServlet</servlet-name>
    <url-pattern>/empresas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Series</description>
    <display-name>SeriesServlet</display-name>
    <servlet-name>SeriesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.series.SeriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeriesServlet</servlet-name>
    <url-pattern>/series</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Almacenes</description>
    <display-name>AlmacenesServlet</display-name>
    <servlet-name>AlmacenesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.almacenes.AlmacenesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlmacenesServlet</servlet-name>
    <url-pattern>/almacenes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Secciones</description>
    <display-name>SeccionesServlet</display-name>
    <servlet-name>SeccionesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.secciones.SeccionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeccionesServlet</servlet-name>
    <url-pattern>/secciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Bancos</description>
    <display-name>BancosServlet</display-name>
    <servlet-name>BancosServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.bancos.BancosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BancosServlet</servlet-name>
    <url-pattern>/bancos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Tipos Efectos</description>
    <display-name>TiposEfectosServlet</display-name>
    <servlet-name>TiposEfectosServlet</servlet-name>
    <servlet-class>com.comerzzia.web.tesoreria.tiposefectos.TiposEfectosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiposEfectosServlet</servlet-name>
    <url-pattern>/tiposEfectos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Categorizaciones</description>
    <display-name>CategorizacionesServlet</display-name>
    <servlet-name>CategorizacionesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.categorizaciones.CategorizacionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategorizacionesServlet</servlet-name>
    <url-pattern>/categorizaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Tipos de Impuestos</description>
    <display-name>TiposImpuestosServlet</display-name>
    <servlet-name>TiposImpuestosServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.impuestos.tiposimpuestos.TiposImpuestosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiposImpuestosServlet</servlet-name>
    <url-pattern>/tiposImpuestos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Familias</description>
    <display-name>FamiliasServlet</display-name>
    <servlet-name>FamiliasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.familias.FamiliasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FamiliasServlet</servlet-name>
    <url-pattern>/familias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Cliente</description>
    <display-name>ClientesServlet</display-name>
    <servlet-name>ClientesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.clientes.ClientesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientesServlet</servlet-name>
    <url-pattern>/clientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Articulos</description>
    <display-name>ArticulosServlet</display-name>
    <servlet-name>ArticulosServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.articulos.ArticulosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticulosServlet</servlet-name>
    <url-pattern>/articulos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Fotos de Articulos</description>
    <display-name>FotosArticulosServlet</display-name>
    <servlet-name>FotosArticulosServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.articulos.fotos.FotosArticulosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FotosArticulosServlet</servlet-name>
    <url-pattern>/fotosArticulos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Proveedores</description>
    <display-name>ProveedoresServlet</display-name>
    <servlet-name>ProveedoresServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.proveedores.ProveedoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProveedoresServlet</servlet-name>
    <url-pattern>/proveedores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Unidades de Medida de Etiquetas</description>
    <display-name>UnidadesMedidaEtiquetasServlet</display-name>
    <servlet-name>UnidadesMedidaEtiquetasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.unidadesmedida.etiquetas.UnidadesMedidaEtiquetasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnidadesMedidaEtiquetasServlet</servlet-name>
    <url-pattern>/unidadesMedidaEtiquetas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Sectores</description>
    <display-name>SectoresServlet</display-name>
    <servlet-name>SectoresServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.sectores.SectoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SectoresServlet</servlet-name>
    <url-pattern>/sectores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Ayudas</description>
    <display-name>AyudasServlet</display-name>
    <servlet-name>AyudasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.ayudas.AyudasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AyudasServlet</servlet-name>
    <url-pattern>/ayuda</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AyudasServlet</servlet-name>
    <url-pattern>/ayuda.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AyudasServlet</servlet-name>
    <url-pattern>*.cmz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Mantenimiento de Ayudas</description>
    <display-name>AyudasConfigServlet</display-name>
    <servlet-name>AyudasConfigServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.ayudasconfig.AyudasConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AyudasConfigServlet</servlet-name>
    <url-pattern>/ayudasConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Concepto de Almacenes Regularización</description>
    <display-name>ConceptoAlmacenesRegularizacionesServlet</display-name>
    <servlet-name>ConceptoAlmacenesRegularizacionesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.conceptoalmacenes.ConceptoAlmacenesRegularizacionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConceptoAlmacenesRegularizacionesServlet</servlet-name>
    <url-pattern>/conceptoAlmacenesREGU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Conceptos de Almacenes para Ventas</description>
    <display-name>ConceptoAlmacenesVentasServlet</display-name>
    <servlet-name>ConceptoAlmacenesVentasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.conceptoalmacenes.ConceptoAlmacenesVentasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConceptoAlmacenesVentasServlet</servlet-name>
    <url-pattern>/conceptoAlmacenesVENT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Concepto de Almacenes para Compras</description>
    <display-name>ConceptoAlmacenesComprasServlet</display-name>
    <servlet-name>ConceptoAlmacenesComprasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.conceptoalmacenes.ConceptoAlmacenesComprasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConceptoAlmacenesComprasServlet</servlet-name>
    <url-pattern>/conceptoAlmacenesCOMP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Tipos de Portes</description>
    <display-name>TiposPortesServlet</display-name>
    <servlet-name>TiposPortesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.ventas.tiposportes.TiposPortesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiposPortesServlet</servlet-name>
    <url-pattern>/tiposPortes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Medios de Pago</description>
    <display-name>MediosPagoServlet</display-name>
    <servlet-name>MediosPagoServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.mediospago.MediosPagoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MediosPagoServlet</servlet-name>
    <url-pattern>/mediosPago</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Albaranes de Compras</description>
    <display-name>AlbaranesComprasServlet</display-name>
    <servlet-name>AlbaranesComprasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.compras.albaranes.AlbaranesComprasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbaranesComprasServlet</servlet-name>
    <url-pattern>/albaranesCompras</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Albaranes de Ventas</description>
    <display-name>AlbaranesVentasServlet</display-name>
    <servlet-name>AlbaranesVentasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.ventas.albaranes.AlbaranesVentasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbaranesVentasServlet</servlet-name>
    <url-pattern>/albaranesVentas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Tiendas</description>
    <display-name>TiendasServlet</display-name>
    <servlet-name>TiendasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.tiendas.TiendasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiendasServlet</servlet-name>
    <url-pattern>/tiendas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Regularizaciones</description>
    <display-name>RegularizacionesServlet</display-name>
    <servlet-name>RegularizacionesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.almacenes.regularizaciones.RegularizacionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegularizacionesServlet</servlet-name>
    <url-pattern>/regularizaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Regularizaciones de Tienda</description>
    <display-name>RegularizacionesTiendaServlet</display-name>
    <servlet-name>RegularizacionesTiendaServlet</servlet-name>
    <servlet-class>com.comerzzia.web.backoffice.regularizaciones.RegularizacionesTiendaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegularizacionesTiendaServlet</servlet-name>
    <url-pattern>/regularizacionesTienda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Facturas de Ventas</description>
    <display-name>FacturasVentasServlet</display-name>
    <servlet-name>FacturasVentasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.ventas.facturas.consulta.FacturasVentasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacturasVentasServlet</servlet-name>
    <url-pattern>/facturasVentas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Promociones</description>
    <display-name>PromocionesServlet</display-name>
    <servlet-name>PromocionesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.ventas.promociones.PromocionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromocionesServlet</servlet-name>
    <url-pattern>/promociones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet para pintar el logo de la empresa</description>
    <display-name>LogoEmpresaServlet</display-name>
    <servlet-name>LogoEmpresaServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.empresas.logotipo.LogoEmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoEmpresaServlet</servlet-name>
    <url-pattern>/logoEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Tratamientos de Impuestos</description>
    <display-name>TratamientosImpuestosServlet</display-name>
    <servlet-name>TratamientosImpuestosServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.impuestos.tratamientosimpuestos.TratamientosImpuestosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TratamientosImpuestosServlet</servlet-name>
    <url-pattern>/tratImpuestos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Cuadro de Impuestos</description>
    <display-name>PorcentajesImpuestosServlet</display-name>
    <servlet-name>PorcentajesImpuestosServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.impuestos.porcentajes.PorcentajesImpuestosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PorcentajesImpuestosServlet</servlet-name>
    <url-pattern>/porcentajes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Informes de JasperReport</description>
    <display-name>InformesServlet</display-name>
    <servlet-name>InformesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.informes.InformesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformesServlet</servlet-name>
    <url-pattern>/informes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Tarifas</description>
    <display-name>TarifasServlet</display-name>
    <servlet-name>TarifasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.ventas.tarifas.TarifasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TarifasServlet</servlet-name>
    <url-pattern>/tarifas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Consulta de Articulos de BackOffice</description>
    <display-name>ConsultaArticulosServlet</display-name>
    <servlet-name>ConsultaArticulosServlet</servlet-name>
    <servlet-class>com.comerzzia.web.backoffice.articulos.ConsultaArticulosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaArticulosServlet</servlet-name>
    <url-pattern>/consultaArticulos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de selección de almacén para el usuario</description>
    <display-name>SeleccionAlmacenServlet</display-name>
    <servlet-name>SeleccionAlmacenServlet</servlet-name>
    <servlet-class>com.comerzzia.web.backoffice.seleccionalmacen.SeleccionAlmacenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeleccionAlmacenServlet</servlet-name>
    <url-pattern>/seleccionAlmacen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Asistente de Configuracion</description>
    <display-name>AsistenteConfiguracionServlet</display-name>
    <servlet-name>AsistenteConfiguracionServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.asistente.AsistenteConfiguracionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsistenteConfiguracionServlet</servlet-name>
    <url-pattern>/asistenteConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet para pintar el logo de la empresa en el asistente de configuración</description>
    <display-name>LogoAsistenteServlet</display-name>
    <servlet-name>LogoAsistenteServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.asistente.logotipo.LogoAsistenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoAsistenteServlet</servlet-name>
    <url-pattern>/logoAsistente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Tickets</description>
    <display-name>TicketsServlet</display-name>
    <servlet-name>TicketsServlet</servlet-name>
    <servlet-class>com.comerzzia.web.ventas.tickets.TicketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketsServlet</servlet-name>
    <url-pattern>/tickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de informes de estadísticas de compras</description>
    <display-name>EstadisticasCompras</display-name>
    <servlet-name>EstadisticasCompras</servlet-name>
    <servlet-class>com.comerzzia.web.compras.estadisticas.EstadisticasComprasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EstadisticasCompras</servlet-name>
    <url-pattern>/estadisticasCompras</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Aplicaciones</description>
    <display-name>AplicacionesServlet</display-name>
    <servlet-name>AplicacionesServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.aplicaciones.AplicacionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AplicacionesServlet</servlet-name>
    <url-pattern>/aplicaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Sincronización</description>
    <display-name>SincronizacionServlet</display-name>
    <servlet-name>SincronizacionServlet</servlet-name>
    <servlet-class>com.comerzzia.web.sincronizacion.SincronizacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SincronizacionServlet</servlet-name>
    <url-pattern>/sincronizacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Conformacion de Facturas de Compras</description>
    <display-name>ConformacionFacturasServlet</display-name>
    <servlet-name>ConformacionFacturasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.compras.facturas.conformacion.ConformacionFacturasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConformacionFacturasServlet</servlet-name>
    <url-pattern>/conformacionFacturas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Facturacion de Albaranes de Ventas</description>
    <display-name>FacturacionAlbaranesVentasServlet</display-name>
    <servlet-name>FacturacionAlbaranesVentasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.ventas.facturas.facturacion.FacturacionAlbaranesVentasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacturacionAlbaranesVentasServlet</servlet-name>
    <url-pattern>/facturacionAlbaranesVentas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de informes de estadísticas de ventas</description>
    <display-name>EstadisticasVentas</display-name>
    <servlet-name>EstadisticasVentas</servlet-name>
    <servlet-class>com.comerzzia.web.ventas.estadisticas.EstadisticasVentasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EstadisticasVentas</servlet-name>
    <url-pattern>/estadisticasVentas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de introducción de pedidos de ventas</description>
    <display-name>PedidosVentasServlet</display-name>
    <servlet-name>PedidosVentasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.ventas.pedidos.PedidosVentasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidosVentasServlet</servlet-name>
    <url-pattern>/pedidosVentas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet para cambios de artículos y tarifas de tiendas</description>
    <display-name>CambiosArticulosTarifas</display-name>
    <servlet-name>CambiosArticulosTarifas</servlet-name>
    <servlet-class>com.comerzzia.web.backoffice.cambiosArticulosTarifas.CambiosArticulosTarifasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiosArticulosTarifas</servlet-name>
    <url-pattern>/cambiosArticulosTarifas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de cobros</description>
    <display-name>Cobros</display-name>
    <servlet-name>Cobros</servlet-name>
    <servlet-class>com.comerzzia.web.tesoreria.cobros.CobrosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cobros</servlet-name>
    <url-pattern>/cobros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de remesas de cobros</description>
    <display-name>RemesasCobros</display-name>
    <servlet-name>RemesasCobros</servlet-name>
    <servlet-class>com.comerzzia.web.tesoreria.remesas.cobros.RemesasCobrosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemesasCobros</servlet-name>
    <url-pattern>/remesasCobros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de exportación de remesas de cobros</description>
    <display-name>ExportacionRemesasCobros</display-name>
    <servlet-name>ExportacionRemesasCobros</servlet-name>
    <servlet-class>com.comerzzia.web.tesoreria.remesas.cobros.ExportacionFicheroRemesasCobrosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportacionRemesasCobros</servlet-name>
    <url-pattern>/exportacionRemesasCobros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de remesas de pagos</description>
    <display-name>RemesasPagos</display-name>
    <servlet-name>RemesasPagos</servlet-name>
    <servlet-class>com.comerzzia.web.tesoreria.remesas.pagos.RemesasPagosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemesasPagos</servlet-name>
    <url-pattern>/remesasPagos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de exportación de remesas de pagos</description>
    <display-name>ExportacionRemesasPagos</display-name>
    <servlet-name>ExportacionRemesasPagos</servlet-name>
    <servlet-class>com.comerzzia.web.tesoreria.remesas.pagos.ExportacionFicheroRemesasPagosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportacionRemesasPagos</servlet-name>
    <url-pattern>/exportacionRemesasPagos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet ver y administrar permisos</description>
    <display-name>PermisosServlet</display-name>
    <servlet-name>PermisosServlet</servlet-name>
    <servlet-class>com.comerzzia.web.core.permisos.PermisosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermisosServlet</servlet-name>
    <url-pattern>/permisos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Facturas de Compras</description>
    <display-name>FacturasComprasServlet</display-name>
    <servlet-name>FacturasComprasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.compras.facturas.consulta.FacturasComprasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacturasComprasServlet</servlet-name>
    <url-pattern>/facturasCompras</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de pagos</description>
    <display-name>Pagos</display-name>
    <servlet-name>Pagos</servlet-name>
    <servlet-class>com.comerzzia.web.tesoreria.pagos.PagosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pagos</servlet-name>
    <url-pattern>/pagos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Variables</description>
    <display-name>Variables</display-name>
    <servlet-name>Variables</servlet-name>
    <servlet-class>com.comerzzia.web.core.variables.VariablesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Variables</servlet-name>
    <url-pattern>/variables</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de inventarios</description>
    <display-name>Inventarios</display-name>
    <servlet-name>Inventarios</servlet-name>
    <servlet-class>com.comerzzia.web.almacenes.inventarios.InventariosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inventarios</servlet-name>
    <url-pattern>/inventarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de la pagina de Inicio de la Aplicación</description>
    <display-name>InicioServlet</display-name>
    <servlet-name>InicioServlet</servlet-name>
    <servlet-class>com.comerzzia.web.general.inicio.InicioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioServlet</servlet-name>
    <url-pattern>/inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de pedidos de ventas de backoffice</description>
    <display-name>PedidosVentasBackoffice</display-name>
    <servlet-name>PedidosVentasBackoffice</servlet-name>
    <servlet-class>com.comerzzia.web.backoffice.ventas.pedidos.PedidosVentasBackofficeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidosVentasBackoffice</servlet-name>
    <url-pattern>/pedidosVentasBackoffice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de actualizaciones de tarifas</description>
    <display-name>ActualizacionesTarifas</display-name>
    <servlet-name>ActualizacionesTarifas</servlet-name>
    <servlet-class>com.comerzzia.web.ventas.tarifas.actualizaciones.ActualizacionesTarifasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizacionesTarifas</servlet-name>
    <url-pattern>/actualizacionesTarifas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de introducción de pedidos de compras</description>
    <display-name>PedidosComprasServlet</display-name>
    <servlet-name>PedidosComprasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.compras.pedidos.PedidosComprasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidosComprasServlet</servlet-name>
    <url-pattern>/pedidosCompras</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de estadisticas</description>
    <display-name>EstadisticasServlet</display-name>
    <servlet-name>EstadisticasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.estadisticas.EstadisticasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EstadisticasServlet</servlet-name>
    <url-pattern>/estadisticas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de exportacion del xml de estadisticas</description>
    <display-name>XMLEstadisticasServlet</display-name>
    <servlet-name>XMLEstadisticasServlet</servlet-name>
    <servlet-class>com.comerzzia.web.estadisticas.xmlEstadisticas.XMLEstadisticasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLEstadisticasServlet</servlet-name>
    <url-pattern>/xmlEstadisticas</url-pattern>
  </servlet-mapping>
  
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>
        com.comerzzia.web.core.filtros.EncodingFilter
      </filter-class>
    <init-param>
      <description>Codificación a usar por defecto en la aplicación</description>
      <param-name>defaultEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.comerzzia.web.core.filtros.SessionFilter</filter-class>
    <init-param>
      <description>Página a mostrar si la sesión ha caducado</description>
      <param-name>paginaTimeout</param-name>
      <param-value>login</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.screen</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/usuarios</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/miPerfil</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/paises</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/perfiles</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/empresas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/series</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/almacenes</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/secciones</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/categorizaciones</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/bancos</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/familias</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/clientes</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/articulos</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/proveedores</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/tiposEfectos</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/tiposImpuestos</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/unidadesMedidaEtiquetas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/sectores</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <servlet-name>AyudasServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/conceptoAlmacenesREGU</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/conceptoAlmacenesVENT</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/conceptoAlmacenesCOMP</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/mediosPago</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/tiposPortes</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/tarifas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/albaranesCompras</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/albaranesVentas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/tiendas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/regularizaciones</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/regularizacionesTienda</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/facturasVentas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/promociones</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/tratImpuestos</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/porcentajes</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/informes</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/consultaArticulos</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/seleccionAlmacen</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/asistenteConfig</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/tickets</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/estadisticasCompras</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/aplicaciones</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/sincronizacion</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/conformacionFacturas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/facturacionAlbaranesVentas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/estadisticasVentas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/pedidosVentas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/cambiosArticulosTarifas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/cobros</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/remesasCobros</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/remesasPagos</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/exportacionRemesasCobros</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/permisos</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/facturasCompras</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/pagos</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/variables</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/inventarios</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/inicio</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/pedidosVentasBackoffice</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/actualizacionesTarifas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/pedidosCompras</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/estadisticas</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/xmlEstadisticas</url-pattern>
  </filter-mapping>
  
  <session-config>
    <session-timeout>480</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.comerzzia.web.core.database.CheckDatabaseListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.comerzzia.web.ventas.tickets.ProcesadorTicketsListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.comerzzia.web.sincronizacion.SincronizadorTiendasListener</listener-class>
  </listener>
</web-app>