<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <description>Comerzzia - Portlets</description>
  <display-name>comerzzia-portlets</display-name>
  <context-param>
    <param-name>company_id</param-name>
    <param-value>liferay.com</param-value>
  </context-param>
  <listener>
    <listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>TiendaVirtualPortlet</servlet-name>
    <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>com.comerzzia.portlets.tiendavirtual.TiendaVirtualPortlet</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiendaVirtualPortlet</servlet-name>
    <url-pattern>/TiendaVirtualPortlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet de Fotos de Articulos de la Tienda Virtual</description>
    <display-name>FotosArticulosTiendaVirtualServlet</display-name>
    <servlet-name>FotosArticulosTiendaVirtualServlet</servlet-name>
    <servlet-class>com.comerzzia.portlets.tiendavirtual.FotosArticulosTiendaVirtualServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FotosArticulosTiendaVirtualServlet</servlet-name>
    <url-pattern>/fotosArticulos</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/portlet</taglib-uri>
      <taglib-location>/WEB-INF/tlds/portlet.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/security</taglib-uri>
      <taglib-location>/WEB-INF/tlds/liferay-security.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/theme</taglib-uri>
      <taglib-location>/WEB-INF/tlds/liferay-theme.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/ui</taglib-uri>
      <taglib-location>/WEB-INF/tlds/liferay-ui.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://liferay.com/tld/util</taglib-uri>
      <taglib-location>/WEB-INF/tlds/liferay-util.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>
